name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install LLVM 21
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        sudo apt-get update
        sudo apt-get install -y clang-21 lldb-21 lld-21 libpolly-21-dev
    - name: Check formatting
      run: cargo fmt --all --check --verbose -- --verbose
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --lib --verbose
